<?xml version="1.0" encoding="utf-8"?>
<settings>
	<default_value field_name="Category"></default_value>
	<mapping_rules>
		<mapping_rule converter="*">
			<source_property name="OperLocation">LENTA</source_property>
			<target_property name="Comment">РАЗНЕСТИ ЧЕК!</target_property>
		</mapping_rule>
		<mapping_rule converter="*">
			<source_property name="OperLocation">LENTA</source_property>
			<target_property name="Category">Прочие/неизвестные расходы</target_property>
		</mapping_rule>
		<mapping_rule converter="*">
			<source_property name="OperLocation">LENTA</source_property>
			<target_property name="Contragent">Магазины - ЛЕНТА</target_property>
		</mapping_rule>
		<mapping_rule converter="*">
			<source_property name="OperLocation">r((ИКЕА)|(IKEA))</source_property>
			<target_property name="Contragent">Магазины - ИКЕА</target_property>
		</mapping_rule>
		<mapping_rule converter="*">
			<source_property name="OperLocation">r((AUCHAN)|(Ашан))</source_property>
			<target_property name="Comment">РАЗНЕСТИ ЧЕК!</target_property>
		</mapping_rule>
		<mapping_rule converter="*">
			<source_property name="OperLocation">r((AUCHAN)|(Ашан))</source_property>
			<target_property name="Contragent">Магазины - АШАН</target_property>
		</mapping_rule>
		<mapping_rule converter="*">
			<source_property name="OperLocation">Ашан</source_property>
			<target_property name="Category">Прочие/неизвестные расходы</target_property>
		</mapping_rule>
		<mapping_rule converter="*">
			<source_property name="Category">Аптеки</source_property>
			<target_property name="Category">Медицина: Лекарства</target_property>
		</mapping_rule>
		<mapping_rule converter="*">
			<source_property name="OperLocation">r((APTEKA)|(Аптека)|(APTECA))</source_property>
			<target_property name="Category">Медицина: Лекарства</target_property>
		</mapping_rule>
		<mapping_rule converter="Tinkoff">
			<source_property name="OperLocation">IP GUDKOVA M.V</source_property>
			<target_property name="Category">Питание: Обеды</target_property>
		</mapping_rule>
		<mapping_rule converter="*">
			<source_property name="OperLocation">r((KEDR)|(DIXY)|(SEMYA)|(PYATEROCHKA)|(Пятерочка)|(Дикси)|(PRISMA))</source_property>
			<target_property name="Category">Питание: Продукты</target_property>
		</mapping_rule>
		<mapping_rule converter="*">
			<source_property name="OperLocation">r((ULYBKA RADUGI)|(Улыбка радуги)|(ZOLUSHKA)|(Золушка))</source_property>
			<target_property name="Category">Хозяйственные товары</target_property>
		</mapping_rule>
		<mapping_rule converter="*">
			<source_property name="OperLocation">r((YARKII MIR RUKODELIJA)|(LEONARDO))</source_property>
			<target_property name="Category">Рукоделие</target_property>
		</mapping_rule>
		<mapping_rule converter="Tinkoff">
			<source_property name="OperLocation">7Я семьЯ</source_property>
			<target_property name="Category">Питание: Продукты</target_property>
		</mapping_rule>
		<mapping_rule converter="Tinkoff">
			<source_property name="Category">Фастфуд</source_property>
			<target_property name="Category">Питание: Кафе/рестораны</target_property>
		</mapping_rule>
		<mapping_rule converter="Tinkoff">
			<source_property name="Category">Рестораны</source_property>
			<target_property name="Category">Питание: Кафе/рестораны</target_property>
		</mapping_rule>
		<mapping_rule converter="Tinkoff">
			<source_property name="Category">Топливо</source_property>
			<target_property name="Category">Транспорт: Автомобиль: Бензин</target_property>
		</mapping_rule>
		<mapping_rule converter="Tinkoff">
			<source_property name="Category">Транспорт</source_property>
			<target_property name="Category">Транспорт: Общественный транспорт</target_property>
		</mapping_rule>
		<mapping_rule converter="Tinkoff">
			<source_property name="OperLocation">Пополнение через МОСКОВСКИЙ ФИЛИАЛ АО БАНК "ПСКБ"</source_property>
			<target_property name="Category">Перевод денег: Из "ПСКБ Зарплатный"</target_property>
		</mapping_rule>
		<mapping_rule converter="Tinkoff">
			<source_property name="OperLocation">Пополнение через МОСКОВСКИЙ ФИЛИАЛ АО БАНК "ПСКБ"</source_property>
			<target_property name="Contragent">&lt;Служебный&gt;</target_property>
		</mapping_rule>
		<mapping_rule converter="Tinkoff">
			<source_property name="OperLocation">Пополнение Накопительный счет</source_property>
			<target_property name="Category">Перевод денег: На "Тинькофф - Сейф"</target_property>
		</mapping_rule>
		<mapping_rule converter="Tinkoff">
			<source_property name="OperLocation">Пополнение Накопительный счет</source_property>
			<target_property name="Contragent">&lt;Служебный&gt;</target_property>
		</mapping_rule>
		<mapping_rule converter="Tinkoff">
			<source_property name="OperLocation">Пополнение вклада</source_property>
			<target_property name="Category">Перевод денег: На "Тинькофф - СМАРТ"</target_property>
		</mapping_rule>
		<mapping_rule converter="Tinkoff">
			<source_property name="OperLocation">Пополнение вклада</source_property>
			<target_property name="Contragent">&lt;Служебный&gt;</target_property>
		</mapping_rule>
		<mapping_rule converter="Tinkoff">
			<source_property name="Category">Наличные</source_property>
			<target_property name="Category">Перевод денег: На "Наличные"</target_property>
		</mapping_rule>
		<mapping_rule converter="Tinkoff">
			<source_property name="Category">Наличные</source_property>
			<target_property name="Contragent">&lt;Служебный&gt;</target_property>
		</mapping_rule>
		<mapping_rule converter="*">
			<source_property name="OperLocation">r(PRISMA)</source_property>
			<target_property name="Contragent">Магазины - PRISMA</target_property>
		</mapping_rule>
		<mapping_rule converter="BSPB">
			<source_property name="Category">r(Выдача наличных денег)</source_property>
			<target_property name="Contragent">&lt;Служебный&gt;</target_property>
		</mapping_rule>
		<mapping_rule converter="BSPB">
			<source_property name="Category">r(Выдача наличных денег)</source_property>
			<target_property name="Category">Перевод денег: На "Наличные Наташи"</target_property>
		</mapping_rule>
		<mapping_rule converter="BSPB">
			<source_property name="Category">r(Зачисление зарплаты)</source_property>
			<target_property name="Category">Заработок: Зарплата Дет. сад 355</target_property>
		</mapping_rule>
	</mapping_rules>
	<family_categories>
		<category type="2">Детские пособия</category>
		<category type="2">Заработок</category>
		<category type="2">Заработок: Зарплата Дет. сад 355</category>
		<category type="2">Заработок: Зарплата ПСКБ</category>
		<category type="2">Заработок: Зарплата Унисенсор</category>
		<category type="2">Заработок: Премия</category>
		<category type="2">Заработок: Халтура Денис</category>
		<category type="2">Подарки (доход)</category>
		<category type="2">Прочие</category>
		<category type="1">Бытовая/комп. техника</category>
		<category type="1">Велосипед</category>
		<category type="1">Дети</category>
		<category type="1">Дети: Игрушки</category>
		<category type="1">Дети: Одежда</category>
		<category type="1">Дети: Питание</category>
		<category type="1">Дети: Прочее</category>
		<category type="1">Дети: Развлечения</category>
		<category type="1">Дети: Спорт</category>
		<category type="1">Детский сад</category>
		<category type="1">Детский сад: Оплата</category>
		<category type="1">Детский сад: Прочее</category>
		<category type="1">Коммунальные услуги</category>
		<category type="1">Коммунальные услуги: Интернет</category>
		<category type="1">Коммунальные услуги: Квартира</category>
		<category type="1">Коммунальные услуги: Свет</category>
		<category type="1">Коммунальные услуги: Сотовый телефон</category>
		<category type="1">Коммунальные услуги: Телефон стац.</category>
		<category type="1">Косметика</category>
		<category type="1">Литература/газеты/журналы</category>
		<category type="1">Медицина</category>
		<category type="1">Медицина: Лекарства</category>
		<category type="1">Медицина: Лечение</category>
		<category type="1">Обучение</category>
		<category type="1">Одежда/обувь</category>
		<category type="1">Парикмахерские/косметические услуги</category>
		<category type="1">Питание</category>
		<category type="1">Питание: Кафе/рестораны</category>
		<category type="1">Питание: Обеды</category>
		<category type="1">Питание: Продукты</category>
		<category type="1">Подарки</category>
		<category type="1">Подарки</category>
		<category type="1">Предметы туалета</category>
		<category type="1">Прочие/неизвестные расходы</category>
		<category type="1">Путешествия</category>
		<category type="1">Путешествия: Авиабилеты</category>
		<category type="1">Путешествия: Автобусные билеты</category>
		<category type="1">Путешествия: Визы/страховка</category>
		<category type="1">Путешествия: Ж/Д билеты</category>
		<category type="1">Путешествия: Питание</category>
		<category type="1">Путешествия: Покупки</category>
		<category type="1">Путешествия: Проживание</category>
		<category type="1">Путешествия: Прочее</category>
		<category type="1">Путешествия: Путевки</category>
		<category type="1">Путешествия: Развлечения</category>
		<category type="1">Путешествия: Транспорт</category>
		<category type="1">Развлечение</category>
		<category type="1">Рукоделие</category>
		<category type="1">Семейные расходы</category>
		<category type="1">Спортзал</category>
		<category type="1">Транспорт</category>
		<category type="1">Транспорт: Автомобиль</category>
		<category type="1">Транспорт: Автомобиль: Аксессуары</category>
		<category type="1">Транспорт: Автомобиль: Бензин</category>
		<category type="1">Транспорт: Автомобиль: Запчасти</category>
		<category type="1">Транспорт: Автомобиль: Обслуживание</category>
		<category type="1">Транспорт: Автомобиль: Прочее</category>
		<category type="1">Транспорт: Автомобиль: Рассрочка</category>
		<category type="1">Транспорт: Автомобиль: Штрафы</category>
		<category type="1">Транспорт: Общественный транспорт</category>
		<category type="1">Хозяйственные товары</category>
		<category type="1">Школа</category>
		<category type="1">Школа: Канцелярия/литература</category>
		<category type="1">Школа: Питание</category>
		<category type="1">Школа: Прочее</category>
	</family_categories>
	<family_contragents>
		<contragent>Авиакомпания "Россия"</contragent>
		<contragent>Банк Тинькофф</contragent>
		<contragent>ВТБ24</contragent>
		<contragent>Газукин Денис</contragent>
		<contragent>ЛЕНТА</contragent>
		<contragent>Липин Антон</contragent>
		<contragent>МТС</contragent>
		<contragent>Магазины - PRISMA</contragent>
		<contragent>Магазины - АШАН</contragent>
		<contragent>Магазины - ИКЕА</contragent>
		<contragent>Магазины - ЛЕНТА</contragent>
		<contragent>Магазины - ОКЕЙ</contragent>
		<contragent>Магазины - Прочие</contragent>
		<contragent>Магазины - РЕАЛ</contragent>
		<contragent>Метрополитен</contragent>
		<contragent>ПСКБ</contragent>
		<contragent>Унисенсор</contragent>
	</family_contragents>
</settings>